.contCard{
    margin-top: 30px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.conDiv{
    margin-left: 150px;
    margin-top: 100px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.modaltamaño{
    height: 600px;
    width: 1500px;
}

.TextCard{
    font-weight: bold;
    font-size: 14px
}

.TextTitle{
    font-weight: bold;
    font-size: 19px;
    color: rgba(243, 19, 19, 0.623);
}

.TextBody{
    background-color: #42938ca8;
    border: 5ch;
    margin: 5px;
    border-color: rgb(109, 9, 9);
}

.line{
    color:rgba(255, 4, 4, 0.795)
}
