.img{
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 500px;
}

.header {
    background-color:#aed269;
    min-height: 13vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.letraHeader{
    font-size: 30px;
    color: whitesmoke;
    border: 4px;
    border-color: black;
}

.foot {
    background-color:#aed269;
    min-height: 20vh;
}