.botones{
    background-color: #724293;
    border: 0ch;
    margin: 5px;
    border-color: white;
    position:center;
}

.botones:hover{
    background-color: rgb(193, 144, 240);
}

.div{
    width: 100%;
}

body{
    align-items: center;
}

.login{
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.divI{
    
    height: 300px;
}

.entrada{
    border-radius: 5px;
	height: 40px;
    width: 500px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
    border: 1px solid rgba(192,192,192);
}

   /* align-items:margin-top: 3.3vh;
    margin-bottom: 27vh; ;*/
    

