.botones{
    background-color: #724293;
    border: 0ch;
    margin: 5px;
    border-color: white;
}

.botones:hover{
    background-color: rgb(193, 144, 240);
}

.div{
    width: 100%;
}

h1{
    text-align: center;
}

#login{
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 19vh;
}